<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="2.0">
    <persistence-unit name="application" transaction-type="RESOURCE_LOCAL">

        <class>com.company.application.entity.Retailer</class>
        <class>com.company.application.entity.Store</class>
        <class>com.company.application.entity.Producer</class>
        <class>com.company.application.entity.Product</class>
        <class>com.company.application.entity.Purchase</class>
        <class>com.company.application.entity.Address</class>
        <class>com.company.application.entity.PriceHistory</class>
        <class>com.company.application.entity.StoreProduct</class>
        <class>com.company.application.entity.PurchaseProduct</class>
    </persistence-unit>
</persistence>
